<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495150222981-mk8r0e8c4kmhq4kg3lg95r46vk5v3uib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495150222981-mk8r0e8c4kmhq4kg3lg95r46vk5v3uib</string>
	<key>API_KEY</key>
	<string>AIzaSyAIE5BHNZ_eZ3aDY_lUVOMwG3a2VVq0pJI</string>
	<key>GCM_SENDER_ID</key>
	<string>495150222981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talkrelief.talkrelief</string>
	<key>PROJECT_ID</key>
	<string>talkrelief-c20b8</string>
	<key>STORAGE_BUCKET</key>
	<string>talkrelief-c20b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495150222981:ios:663f89b3d7992a2bfde3ec</string>
	<key>DATABASE_URL</key>
	<string>https://talkrelief-c20b8-default-rtdb.firebaseio.com</string>
</dict>
</plist>